.container {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    row-gap: 10px;
}

label {
    background-color: #118bee;
    display: inline-block;
    color: white;
    padding: 1rem 2rem;
    font-family: sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

body {
    margin: 20px;
}